*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* Sign up */
.video
{
    height: 100vh;
    width: 100%;
    position: relative;
}
.video video
{
    object-fit:  fill;
    object-position: center;
    height: 100%;
    width: 100%;
}
form
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    padding: 3% 4%;


background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
p
{
    padding-top: 10px;
}
.img
{
    position: absolute;
    top: -8%;
    left: 40%;
}
img
{
    padding: 20px;
    background: rgba( 255, 255, 255, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 50%;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
input
{
    width: 300px;
    background: rgba( 255, 255, 255, 0.05 );
    border: solid 1px  rgba( 255, 255, 255, 0 );
    border-bottom: 1px solid white;

}
@media(min-width:0px)
{
    input
    {
        width: 260px;
    }
    form
    {
        padding: 0%;
    }
    .form-in
    {
        padding: 10px;
    }
}
@media(min-width:376px)
{
    
    input
    {
        width: 300px;
    }
    form
    {
        padding: 3% 4%;
    }

}
::placeholder
{
    padding-left: 10px;
    color: white;
}
.login
{
    text-align: center;
    background-color: white;
    color: black;
    padding: 8px 10px;
    border-radius: 50px;
    display: block;
    margin-top: 20px;
}